.navbar-brand{
     background-image: url(../images/icon.png);
     width: 80px;
     height: 80px;
     background-size: 75%;
     background-repeat: no-repeat;
     background-position: center;
 }

img { height: auto; width: auto\9; width:100%; }