.navbar-brand{
     background-image: url(../images/icon.png);
     width: 80px;
     height: 80px;
     background-size: 75%;
     background-repeat: no-repeat;
     background-position: center;
 }

img {

}
body{
     background-color: #96d5f6;
}

.btn-a{
     width: 80%
}
.btn{
     font-size: 24px;
     font-weight: bold;
}
.btn-b{
     color: #332993
}
.aca{
     color: #332993;
}


.main-content h3{
     color: #19663f
}

.main-content-a h2{
    font-size: 25px;
    color: #000000
}

.main-content table-a td{
    border: 3px solid blue
}
.main-content table-a th{
    border: 3px solid blue
}